.container{
    min-height: 700px;
}
h2{
    text-align: center;
    color: skyblue;
}
.login-form {
    padding-top: 50px 0;
}

.login-form h2 {
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button{
    color: white;
    background-color: green;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
} 

a{
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    background: gold;
}

a:hover{
    transform: scale(1.2);
    color: red;
}

.body {
    background-image: url('https://img-new.cgtrader.com/items/2634161/d2ace1e49c/large/indane-gas-cylinder-15-kg-red-optimized-3d-model-ar-vr-lowpoly-3d-model-d2ace1e49c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}