main {
    padding: 20px 0;
}

img{
    height: 400px;
    object-fit: cover;
    background-position: center;
}

.imgInfo{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
}

.imgInfo .info{
    font-size: 30px;
}