    <!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
      <div class="carousel-item active img" data-bs-interval="1000">
        <img height="500px" src="https://media.istockphoto.com/id/1288462295/photo/different-types-of-gas-bottles-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=vRXxqyKKdXvMwl95WzOA6_1Q4ttYBsC4PX-GtiS0Htw=" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item img" data-bs-interval="2000">
        <img height="500px" src="" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item img">
          <img height="500px" src="" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->

  <carousel>
    <slide>
      <img src="https://media.istockphoto.com/id/1288462295/photo/different-types-of-gas-bottles-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=vRXxqyKKdXvMwl95WzOA6_1Q4ttYBsC4PX-GtiS0Htw=" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="https://thumbs.dreamstime.com/b/gas-cylinder-lpg-delivery-india-refill-248348965.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="https://img-new.cgtrader.com/items/2634161/d2ace1e49c/large/indane-gas-cylinder-15-kg-red-optimized-3d-model-ar-vr-lowpoly-3d-model-d2ace1e49c.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>

  <div class="imgInfo">
    <div class="img">
      <img src="./assets/gasImg.jpg" alt="">
    </div>
    <div class="info">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia debitis unde ipsa animi quod alias dignissimos doloremque nostrum corporis repudiandae.
    </div>
  </div>

  <div class="imgInfo">
    <div class="info">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia debitis unde ipsa animi quod alias dignissimos doloremque nostrum corporis repudiandae.
    </div>
    <div class="img">
      <img src="./assets/gasImg.jpg" alt="">
    </div>
  </div>

  <div class="imgInfo">
    <div class="img">
      <img src="./assets/gasImg.jpg" alt="">
    </div>
    <div class="info">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia debitis unde ipsa animi quod alias dignissimos doloremque nostrum corporis repudiandae.
    </div>
  </div>